<div class="wrapper fadeInDown">
    <div id="formContent">
        <img src="~/images/CGIpng.png" width="250"> 
        <div class="fadeIn first">
            <h2>Register</h2>
        </div>

        <!-- Login Form -->
        <form method="post">
            <div class="form-group">
                <input type="text" id="login" class="fadeIn second" name="Fullname" placeholder="Fullname">
                <input type="text" id="login" class="fadeIn second" name="UserName" placeholder="Username">
                <input type="text" id="login" class="fadeIn second" name="Email" placeholder="Email">
                <input type="text" id="password" class="fadeIn third" name="Password" placeholder="Password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </div>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>